body {
  padding: 5px;
}
.title {
  text-align: center;
}
#book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

Card {
  padding: 2px;
  border: 1px solid gainsboro;
  width: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transform: translateY(0px);
  opacity: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 1s ease;
}
Card:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 1s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.favorite-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0px;
  background: transparent;
}
.book-cover {
  margin-bottom: 10px;
}
.book-details div {
  padding: 5px;
}
.book-details div:nth-child(odd) {
  background-color: lightgray;
  color: black;
}
.book-details div:hover {
  background-color: #3498db;
  color: white;
}
.search-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.wishlist-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}
.wish-header {
  padding-left: 21px;
}
.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mdi--heart {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
span.mdi--heart {
  font-size: x-large;
}
span.count {
  position: absolute;
  top: 0;
  right: 0;
  background: #ffcdcd80;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  color: #000000;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wishcounter {
  position: relative;
  width: 32px;
}
header {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.green {
  color: greenyellow !important;
}

.fade-element {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.book-details-single{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


