@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
}
.book-title-font {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.book-description {
  padding-top: 1em;
}
a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #6dd5fa, #ffffff);
  left: 0;
  bottom: -2px;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  font-size: 12px;
}
.title {
  text-align: center;
}
#book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}
Header {
  background: #59b2ed;
  background: -webkit-linear-gradient(to top, #ffffff, #6dd5fa, #2980b9);
  background: linear-gradient(to right, #6dd5fa, #59b2ed);
  color: white;
  padding: 2em 1em;
  text-align: center;
  margin-bottom: 4px;
}
navbar {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.filterArea {
  display: flex;
  gap: 1em;
  justify-content: center;
  padding: 1em;
  align-items: center;
}

Card {
  padding: 2px;
  border: 1px solid gainsboro;
  width: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transform: translateY(0px);
  opacity: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 1s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
Card:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 1s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.favorite-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
  border: 0px;
  padding: 0;
  margin: 0px;
  display: flex;
  align-items: center;
  background: transparent;
  color: black;
}
.book-cover {
  margin-bottom: 10px;
}
.book-details div {
  padding: 5px;
}
/* .book-details div:nth-child(odd) {
  background-color: lightgray;
  color: black;
} */
.book-details div:hover {
  background-color: #3498db;
  color: white;
}
.search-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  background: linear-gradient(45deg, #00c0fe, hsla(206, 100%, 73.3%, 1));
  outline: 0px;
  border: 0px;
  padding: 5px;
  color: white;
  border-radius: 2px;
}
input {
  border: 1px solid lightblue;
  padding: 3px;
  padding-left: 6px;
  border-radius: 10px;
}
select {
  border: 1px solid lightblue;
  padding: 3px;
  border-radius: 10px;
}
.wishlist-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}
.wish-header {
  padding-left: 21px;
}
.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mdi--heart {
  display: inline-block;
  width: 1em;
  height: 1em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53z'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
span.mdi--heart {
  font-size: x-large;
}
span.count {
  position: absolute;
  top: 0;
  right: 0;
  background: #ffcdcd80;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  color: #000000;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wishcounter {
  position: relative;
  width: 32px;
}

.green {
  color: greenyellow !important;
}

.fade-element {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.book-details-single {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.book-title-mobile {
  padding-left: 4px;
  display: none;
}


.book-image img {
  width: 13em;
  margin: 0 auto;
  display: block;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.book-details-area {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 1em;
  text-align: center;
  margin: 2em;
  border-radius: 10px;
  padding-top: 114px;
  margin-top: -7rem;
}
@media screen and (max-width: 450px) {
  .filterArea {
    flex-direction: column;
    gap: 10px;
  }
  Card {
    width: 100%;
    display: block;
    max-height: 140px;
    border-left: 11px solid;
    border-left-color: #63d9ff;
  }
  Card .book-cover img {
    height: 140px;
    max-width: 100px;
    object-fit: contain;
  }
  .book-cover {
    display: flex;
    justify-content: space-between;
  }
  .book-details {
    display: none;
  }
  .book-title-mobile {
    padding-left: 4px;
    display: block;
  }
  #book-list {
    padding: 1em;
  }
}
